@(membre:Membre)(formPublication: Form[Publication])(formCommentaire: Form[Commentaire])(publications:List[Publication])
<div class="contenu-ajout-post petit-bloc">
    <div class="ajout-post col-sm-4">
        <span class="glyphicon glyphicon-picture icon-post"></span>
        Ajouter une photo
    </div>
    <div class="ajout-post col-sm-4">
        <span class="glyphicon glyphicon-edit icon-post"></span>
        Ajouter une publication
    </div>
    <div class="ajout-post col-sm-4 ajout-nouvelle">
        <span class="glyphicon glyphicon-info-sign icon-post"></span>
        Partager une nouvelle
    </div>
</div>
<div class="form-nouvelle form-pub petit-bloc">
    @formulaire.formulaireNouvelle(formPublication)
</div>
<div class="contenu-center">
    <div class="contenu-center-gauche col-sm-8">
        @publication.publication(membre)(formCommentaire)(publications)
    </div>
    <div class="contenu-center-droite col-sm-4"></div>
</div>
<script>
    $(".form-nouvelle").hide();
    $(".ajout-nouvelle").click(function(){
        $(".form-nouvelle").toggle();
    });
</script>
<script src='@routes.Assets.versioned("javascripts/publication/commentaire.js")' type="text/javascript"></script>