@(membre:Membre)
<div class="contenu-ajout-post petit-bloc">
    <div class="ajout-post col-sm-4 ajout-partage-photo">
        <span class="glyphicon glyphicon-picture icon-post"></span>
        Ajouter une photo
    </div>
    <div class="ajout-post col-sm-4" for="image">
        <span class="glyphicon glyphicon-edit icon-post"></span>
        Ajouter une publication
    </div>
    <div class="ajout-post col-sm-4 ajout-nouvelle">
        <span class="glyphicon glyphicon-info-sign icon-post"></span>
        Partager une nouvelle
    </div>
</div>
<div class="contenu-center">
    <div class="contenu-center-gauche col-sm-8">
        <div class="form-nouvelle form-pub petit-bloc">
            @formulaire.formulaireNouvelle()
        </div>
        <div class="form-image form-pub petit-bloc">
            @formulaire.formulairePartagePhoto()
        </div>
        <div class="content-tout-pub">
            @publication.publication(membre)
        </div>
    </div>
    <div class="contenu-center-droite col-sm-4">
        @if(membre.suggessionAmis().length!=0){
            <div class="suggession-amis sugges">
                @membrePakage.suggession(membre)
            </div>
        }
        @if(membre.demandes().length!=0){
            <div class="suggession-amis demand">
                @membrePakage.demande(membre)
            </div>
        }
    </div>
</div>
