@(membre:Membre)
@administrateur.layout_admin(membre){

}{
    @*
    *Contenu principal de la page
    *Définition des différents rubriques de l'administration
    *@
    <div id="admin_menu">

        @*Gestion des membres*@

        <div id="membre_admin" class="admin_item">
            <h3 class="titre"><a href="#">Gestion des membres</a></h3>
            <ul class="liste">
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des membres</a></li>
                <li class="liste_item last"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des membres supprimés</a></li>
            </ul>
        </div>

        @*Gestion des publication*@

        <div id="publication_admin" class="admin_item">
            <h3 class="titre"><a href="#">Gestion des publications</a></h3>
            <ul class="liste">
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des publications</a></li>
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des publications censurées</a></li>
                <li class="liste_item last"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des publications supprimées</a></li>
            </ul>
        </div>

        @*Gestion des groupes*@

        <div id="groupe_admin" class="admin_item">
            <h3 class="titre"><a href="#">Gestion des groupes</a></h3>
            <ul class="liste">
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des groupes</a></li>
                <li class="liste_item last"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des groupes supprimés</a></li>
            </ul>
        </div>

        @*Gestion des articles*@

        <div id="article_admin" class="admin_item">
            <h3 class="titre"><a href="@routes.ArticleController.lister()">Gestion des articles</a></h3>
            <ul class="liste">
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="@routes.ArticleController.lister()">Liste des articles</a></li>
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des articles publiés</a></li>
                <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des articles non publiés</a></li>
                <li class="liste_item last"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des membres supprimés</a></li>
            </ul>
        </div>
    </div>

}{

}