@(membre :Membre)

<div class="entete-content">
    <div class="titre-content">
        <span class="glyphicon glyphicon-education icon-label icon-experience"></span>
        <span>Experience</span>
    </div>
    <div class="bouton-plus">
        <button class="btn btn-primary bouton-entete bouton-entete-experience icon-experience" title="Ajouter une autre experience"><span class="glyphicon glyphicon-plus"></span>Ajouter</button>
    </div>

</div>
<div class="contenu-formation">
    <p class="rien">Aucune experience</p>
</div>
