@(membre :Membre)
<span class="dropdown">
    <a class="dropdown-toggle click element-entete-rouge" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-comment"></span>
        <span class="rouge">5</span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><span class="glyphicon glyphicon-remove icon-list-gris"></span>Supprimer</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-pencil icon-list-gris"></span>Modifier</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-thumbs-down icon-list-gris"></span>Je n'aime pas</a></li>
    </ul>
</span>