@(membre :Membre)
<h5 class="titre-suggestion">Plus de relations</h5>
@for(suggession <- membre.suggessionAmis()){
    <div class="libele-sidebar libele-suggession petit-bloc">
        <div class="contenu-libele-sidebar">
            <div class="element-libele-sidebar icon-element">
                @if(suggession.getImageProfil()==null){
                    <span class="glyphicon glyphicon-user icon-libele-sidebar icon-gris"></span>
                }else{
                    <span><img src='@routes.Assets.versioned("images/profil/")@suggession.getImageProfil().getNom()' alt="" class="image-profile-suggestion img-thumbnail"></span>
                }
            </div>
            <div class="element-libele-sidebar texte-element">
                <span class="content-libele-sidebar">
                    <span class="titre-element">@suggession.getNomProfil()</span><br>
                    <span class="rien">@suggession.getStatus()</span><br>
                </span>
            </div>
            <span class="relation"><a href="@routes.MembreController.envoyerDemande(suggession.getId())" class="amitie-action">Avoir des relations</a></span>
        </div>
    </div>
}
