<div class="libele-sidebar petit-bloc">
    <div class="contenu-libele-sidebar">
        <div class="element-libele-sidebar icon-element">
            <span class="glyphicon glyphicon-education icon-libele-sidebar icon-formation"></span>
        </div>
        <div class="element-libele-sidebar texte-element">
            <span class="content-libele-sidebar">
                <span class="titre-element">Formation</span><br>
                <span class="rien">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </span>
        </div>
    </div>
    <div class="lien-libele-sidebar">
        <a href="@routes.ProfilController.formation()" class="btn btn-primary ajouter-libele-sidebar ajouter-formation">Ajouter une formation</a>
    </div>
</div>

<div class="libele-sidebar petit-bloc">
    <div class="contenu-libele-sidebar">
        <div class="element-libele-sidebar icon-element">
            <span class="glyphicon glyphicon-education icon-libele-sidebar icon-experience"></span>
        </div>
        <div class="element-libele-sidebar texte-element">
            <span class="content-libele-sidebar">
                <span class="titre-element">Experience</span><br>
                <span class="rien">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </span>
        </div>
    </div>
    <div class="lien-libele-sidebar">
        <a href="@routes.ProfilController.experience()" class="btn btn-primary ajouter-libele-sidebar ajouter-formation">Ajouter une experience</a>
    </div>
</div>

<div class="libele-sidebar petit-bloc">
    <div class="contenu-libele-sidebar">
        <div class="element-libele-sidebar icon-element">
            <span class="glyphicon glyphicon-education icon-libele-sidebar icon-competence"></span>
        </div>
        <div class="element-libele-sidebar texte-element">
            <span class="content-libele-sidebar">
                <span class="titre-element">Competence</span><br>
                <span class="rien">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </span>
        </div>
    </div>
    <div class="lien-libele-sidebar">
        <a href="@routes.ProfilController.competence()" class="btn btn-primary ajouter-libele-sidebar ajouter-formation">Ajouter une competence</a>
    </div>
</div>

<div class="libele-sidebar petit-bloc">
    <div class="contenu-libele-sidebar">
        <div class="element-libele-sidebar icon-element">
            <span class="glyphicon glyphicon-education icon-libele-sidebar icon-langue"></span>
        </div>
        <div class="element-libele-sidebar texte-element">
            <span class="content-libele-sidebar">
                <span class="titre-element">Langue</span><br>
                <span class="rien">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </span>
        </div>
    </div>
    <div class="lien-libele-sidebar">
        <a href="@routes.ProfilController.langue()" class="btn btn-primary ajouter-libele-sidebar ajouter-formation">Ajouter une langue</a>
    </div>
</div>

<div class="libele-sidebar petit-bloc">
    <div class="contenu-libele-sidebar">
        <div class="element-libele-sidebar icon-element">
            <span class="glyphicon glyphicon-education icon-libele-sidebar icon-loisir"></span>
        </div>
        <div class="element-libele-sidebar texte-element">
            <span class="content-libele-sidebar">
                <span class="titre-element">Loisir</span><br>
                <span class="rien">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </span>
        </div>
    </div>
    <div class="lien-libele-sidebar">
        <a href="@routes.ProfilController.loisir()" class="btn btn-primary ajouter-libele-sidebar ajouter-formation">Ajouter un loisir</a>
    </div>
</div>