@(listArticles : List[Article])(listDomaines :List[Domaine])(membre :Membre)
@administrateur.layout_admin(membre){
<div id="article_menu" class="admin_item">
    <h3 class="titre"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>Gestion des articles</a></h3>
    <ul class="liste">
        <li class="liste_item first"><span class="glyphicon glyphicon-hand-right"></span><a href="@routes.ArticleController.lister()">Liste des articles</a></li>
        <li class="liste_item"><span class="glyphicon glyphicon-hand-right"></span><a href="@routes.ArticleController.ajouterform()">Ajouter un article</a></li>
        <li class="liste_item"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des articles publiés</a></li>
        <li class="liste_item"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des articles non publiés</a></li>
        <li class="liste_item last"><span class="glyphicon glyphicon-hand-right"></span><a href="#">Liste des articles supprimés</a></li>
    </ul>
</div>
}{
@*
*Contenu de la page qui liste les articles
*@
<div id="admin_article">

    @*Gestion du filtre des articles*@

    <div class="filtre_form">
        <form class="form-horizontal form-complet">
            <div class="form-group champ">
                <label class="domaineLabel">Domaine:</label>
                <select id="domaine" name="type" class="domaineField form-control">
                    <option value="tous" selected>Tous</option>
                    @for(domaine <- listDomaines){
                    <option>@domaine.getLibelle()</option>
                    }
                </select>
            </div>
            <div class=" form-group champ datePublication">
                <label class="dateLabel">Date de publication:</label>
                <div class="dateField">
                    <span id="jour">
                        <label for="jourr">Jour</label>
                        <div class="jour">
                            <select name="jourr" id="jourr" class="form-control">
                                <option value="tous">Tous</option>
                                var i;
                                @for(i <- 1 to 31){
                                    @if(i < 10){
                                        <option value=@i>0@i</option>
                                    }else{
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </span>

                    <span id="mois">
                        <label for="moi">Mois</label>
                        <div class="mois">
                            <select name="moi" id="moi" class="form-control">
                                <option value="tous">Tous</option>
                                var i;
                                @for(i <- 1 to 12){
                                    @if(i < 10){
                                        <option value=@i>0@i</option>
                                    }else{
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </span>

                    <span id="annee">
                        <label for="annee">Année</label>
                        <div class="anne">
                            <select name="anne" id="anne" class="form-control">
                                <option value="tous">Tous</option>
                                var i;
                                @for(i <- 1960 to 2030){
                                    <option value=@i>@i</option>
                                }
                            </select>
                        </div>
                    </span>

                </div>
            </div>
        </form>
    </div>

    @*liste des articles*@

    <div id="listeArticle" class="liste">
        <table class="table .table-striped" id="list-article">
            <thead>
                <tr>
                    <th>Titre</th><th>Date de publication</th><th>Etat</th><th class="table_bouton">actions</th>
                </tr>

            </thead>
            <tbody>
                @for(article <- listArticles){
                    <tr>
                        <td>@article.getTitre()</td>
                        <td>@article.getDatePublication()</td>
                        <td>@article.isPublie()</td>
                        <td class="table_bouton">
                            <a href="@routes.ArticleController.supprimer(article.getId())">
                                <button class="supprimer"><span class="glyphicon glyphicon-trash"></span>supprimer</button>
                            </a>
                            <button class="modifier"><span class="glyphicon glyphicon-pencil"></span>modifier</button>
                            <a href="@routes.ArticleController.voir(article.getId())">
                                <button class="afficher"><span class="glyphicon glyphicon-eye-open"></span>afficher</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

}{

}{
    <script type="text/javascript">
        $(document).ready(function() {

            /*******************************************
             *envoi du filtre sur la liste avec ajax
             *******************************************
            $("#domaine").ischecked(function(){
                var DATA = "ok";
                $.ajax({
                    type: "GET",
                    url: "@routes.ArticleController.lister",
                    data: DATA,
                    dataType: 'html',
                    success: function(data){
                        $("#listeArticle").html(data);
                    }
                });
            });
            */

            /***************************************
             *gestion du tableau avec dataTable
             ***************************************/
            $('#list-article').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>
}