$couleur-entete1: #9d378d;
$couleur-entete: #672494;
$couleur-bouton: #337ab7;
$couleur-danger: #d9534f;
$couleur-entete-haut:#082246;
$couleur-formation: #ff8200;
$couleur-experience:#21E5D3;
$couleur-competence:#38C8FF;
$couleur-langue:#C847CF;
$couleur-loisir:#F63B9E;